@model IEnumerable<InverGrove.Domain.Interfaces.ISermon>

<div class="sermons-wrapper" ng-controller="ViewSermonsCtrl as vm">

    <div class="breadcrumb-wrapper">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                    <h2 class="title">Sermons</h2>
                </div>

                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                    <div class="breadcrumbs pull-right">
                        <ul>
                            <li>You are here:</li>
                            <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                            <li>Sermons</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="sermons-content">
        <div class="container">
            <div class="row">
                <div class="sermons-block col-xs-12">

                    @foreach (var sermon in Model)
                    {
                        var i = 0;
                        var tags = sermon.Tags.Split(',');
                        
                        <article class="sermon hentry">
                            <div class="sermon-content-wrap">
                                <header class="sermon-header">
                                    <div class="sermon-date">
                                        <a class="date" href="javascript:void(0);">
                                            <strong>@sermon.SermonDate.ToString("dd")</strong><i>@sermon.SermonDate.ToString("MMM")</i>
                                            @if ((DateTime.Now - sermon.SermonDate).Days < 7)
                                            {
                                                <i class="new">New!</i>
                                            }
                                        </a>
                                    </div>
                                    <h3 class="sermon-title">
                                        <a href="@Url.Action("SermonDetail", "Sermon", new { sermonId = sermon.SermonId })">@sermon.Title</a>
                                    </h3>
                                    <div class="sermon-meta">
                                        <div class="sermon-entry-meta-speaker">
                                            <i class="fa fa-user"></i>
                                            @sermon.Speaker
                                        </div>
                                        <div class="sermon-entry-meta-tags">
                                            <i class="fa @(tags.Length > 1 ? "fa-tags" : "fa-tag")"></i>
                                            @foreach (var tag in tags)
                                            {
                                                <div class="tags-container">@(i < tags.Length - 1 ? tag + ", " : tag)</div>
                                                i++;
                                            }
                                        </div>
                                    </div>
                                </header>
                            </div>

                            <div class="sermon-divider"></div>
                        </article>
                    }

                    <div class="divider"></div>
                </div>

            </div>
        </div>
    </div>

</div>