<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="igchurch" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="igchurch" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="igchurch" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="igchurch" class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Inver Grove church of Christ</title>
    <meta name="author" content="Inver Grove church of Christ, Minnesota">
    <meta name="copyright" content="Inver Grove church of Christ, Minnesota">
    <meta name="description" content="Inver Grove church of Christ">
    <meta name="keywords" content="Church of Christ, Minnesota, St. Paul, Non-denominational, Conservative, Twin Cities, Rennie Frazier, Bible study">
    <meta name="revisit-after" content="15 days">
    <meta name="distribution" content="global">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Styles.Render("~/Components/css/core")
    @Styles.Render("~/Content/css/core")

    <link rel="apple-touch-icon" sizes="57x57" href="/Content/images/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/Content/images/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/Content/images/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/Content/images/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/Content/images/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/Content/images/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/Content/images/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/Content/images/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/Content/images/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/Content/images/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/Content/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/Content/images/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/Content/images/favicon-16x16.png">
    <link rel="manifest" href="/Content/images/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/Content/images/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    @Scripts.Render("~/Components/scripts/critical")
</head>
<body ng-controller="BaseCtrl as base">
    <div class="container wrapper">
        <header>
            <div class="top-bar">
                <div class="container">
                    <div class="pull-left phone-email">
                        <a href="tel:6514571189"><i class="fa fa-phone"></i>(651) 457-1189</a>
                        <a href="#"><i class="fa fa-map-marker"></i>8777 Courthouse Blvd, Inver Grove Heights MN 55077</a>
                    </div>
                </div>
            </div>

            <div class="bottom-bar" sticky>
                <div class="container">
                    <div class="logo pull-left">
                        <h1>
                            <a href="@Url.Action("Index", "Home")"><img src="~/Content/Images/churchlogo.png"></a>
                        </h1>
                    </div>

                    <div class="mobile navbar-header">
                        <div class="mobile navbar-header">
                            <button class="navbar-toggle collapsed" ng-click="base.toggleNavBar()">
                                <i class="fa fa-bars"></i>
                            </button>
                        </div>
                    </div>

                    @{string controller = ViewContext.RouteData.Values["controller"].ToString().ToLower();}
                    <nav class="collapse navbar-collapse" collapse="base.navBarCollapsed">
                        <ul class="nav navbar-nav">
                            <li class="@(controller == "home" ? "active" : string.Empty)">
                                <a href="@(controller == "home" ? "javascript:void(0);" : Url.Action("Index", "Home"))">Home</a>
                            </li>
                            <li class="@(controller == "sermon" ? "active" : string.Empty)">
                                <a href="@(controller == "sermon" ? "javascript:void(0);" : Url.Action("ViewSermons", "Sermon"))">Sermons</a>
                            </li>
                            <li class="@(controller == "contact" ? "active" : string.Empty)">
                                <a href="@(controller == "contact" ? "javascript:void(0);" : Url.Action("Index", "Contact"))">Contact Us</a>
                            </li>
                            <li><a href="@Url.Action("Login", "Account")">Members</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>

        <main>
            <!--[if lt IE 7]>
                <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
            <![endif]-->
            <div loading-overlay></div>

            @RenderBody()
        </main>

        <footer>
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <section class="col-lg-4 col-md-4 col-xs-12 col-sm-4">
                            <h3>who we are</h3>
                            <p>The Christians at Inver Grove are striving to be like the church you read about in the New Testament. We shun man-made doctrines, church politics, and too much emphasis upon money. We would be delighted to have you worship with us!</p>
                        </section>
                        <section class="col-lg-4 col-md-4 col-xs-12 col-sm-4">
                            <h3>join us</h3>
                            <address>
                                <i class="fa fa-map-marker"></i> 8777 Courthouse Blvd <br>
                                Inver Grove Heights MN 55077 <br>
                                <i class="fa fa-phone"></i> (651) 457-1189
                            </address>
                            <p>Located 12 minutes south of downtown St. Paul off of Hwy. 52 in Inver Grove Heights.</p>
                        </section>
                        <section class="col-lg-4 col-md-4 col-xs-12 col-sm-4">
                            <h3>times of assembly</h3>
                            <p>
                                <em>Sunday AM</em> <br>
                                Bible Study – 9:30 <br>
                                Worship – 10:30 <br>
                            </p>
                            <p>
                                <em>Sunday PM</em> <br>
                                Worship – 5:00 <br>
                            </p>
                            <p>
                                <em>Wednesday PM</em> <br>
                                Bible Study – 7:00 <br>
                            </p>
                        </section>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            © Copyright 2015 Inver Grove church of Christ. All Rights Reserved.
                        </div>
                    </div>
                </div>
            </div> <!-- ./footer-bottom -->
        </footer>

        <!-- scroll to top -->
        <a class="scrollup" ig-scroll-up>
            <i class="fa fa-angle-up"></i>
        </a>
    </div>

    @Scripts.Render("~/Components/scripts/core")
    @Scripts.Render("~/Scripts/scripts/core")
    @Scripts.Render("~/Components/scripts/revoslider")
    @Scripts.Render("~/Components/scripts/plugins")
    <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
    @Scripts.Render("~/Scripts/scripts/area/public")

    @RenderSection("Scripts", required: false)

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-57750510-1', 'auto');
        ga('require', 'displayfeatures');
        ga('send', 'pageview');

    </script>
</body>
</html>