<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="igchurch" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="igchurch" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="igchurch" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="igchurch" class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Inver Grove church of Christ</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Styles.Render("~/Components/css/core")
    @Styles.Render("~/Content/css/core")

    <script type="text/javascript" src="//use.typekit.net/prb0ymj.js"></script>
    <script type="text/javascript">try { Typekit.load(); } catch (e) { }</script>
    <script src="//connect.soundcloud.com/sdk.js"></script>
    <script>
        SC.initialize({
            client_id: 'cdcb2eb2652ff8f36652f3d89138419e'
        });
    </script>
</head>
<body ng-controller="BaseCtrl as base">
    <div class="container wrapper">
        <header>
            <div class="top-bar">
                <div class="container">
                    <div class="pull-left phone-email">
                    </div>
                    <div class="pull-right user-actions">
                        <a href="javascript:void(0)"><i class="fa fa-user"></i>Welcome, Keenan</a>
                        @using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { role = "form", @style = "display: inline-block;" }))
                        {
                            @Html.AntiForgeryToken()
                            <a href="javascript:void(0)" type="submit" onclick="$(this).closest('form').submit();"><i class="fa fa-power-off"></i>Log Out</a>
                        }
                    </div>
                </div>
            </div>

            <div class="bottom-bar" sticky>
                <div class="container">
                    <div class="logo pull-left">
                        <h1><a href="@Url.Action("Index", "Home", new { area = "Member" })"><img src="~/Content/Images/churchlogo.png"></a></h1>
                    </div>

                    <div class="mobile navbar-header">
                        <div class="mobile navbar-header">
                            <button class="navbar-toggle collapsed" ng-click="base.toggleNavBar()">
                                <i class="fa fa-bars"></i>
                            </button>
                        </div>
                    </div>

                    <nav class="collapse navbar-collapse" collapse="base.navBarCollapsed" role="navigation">
                        <ul class="nav navbar-nav">
                            <li ng-class="{active: base.isRouteActive('')}"><a href="@Url.Action("Index", "Home", new {area = "Member"})">Home</a></li>
                            <li ng-class="base.isRouteActive('/ManageAttendance') ? 'active' : (base.isRouteActive('/ManageSermons') ? 'active' : (base.isRouteActive('/ManageMembers') ? 'active' : ''))">
                                <div dropdown is-open="status.isopen">
                                    <a href="javascript:void(0)" class="dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                                        Manage <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#/ManageAttendance">Attendance</a></li>
                                        <li><a href="#/ManageSermons">Sermons</a></li>
                                        <li><a href="#/ManageMembers">Members</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li ng-class="{active: base.isRouteActive('/Directory')}"><a href="#/Directory">Directory</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>

        <main>
            <!--[if lt IE 7]>
                <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
            <![endif]-->
            <div loading-overlay></div>

            @RenderBody()
        </main>

        <footer>
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <section class="col-lg-4 col-md-4 col-xs-12 col-sm-4">
                            <h3>who we are</h3>
                            <p>The Christians at Inver Grove are striving to be like the church you read about in the New Testament. We shun man-made doctrines, church politics, and too much emphasis upon money. We would be delighted to have you worship with us!</p>
                        </section>
                        <section class="col-lg-4 col-md-4 col-xs-12 col-sm-4">
                            <h3>join us</h3>
                            <address>
                                <i class="fa fa-map-marker"></i> 8777 Courthouse Blvd <br>
                                Inver Grove Heights MN 55077 <br>
                                <i class="fa fa-phone"></i> (651) 457-1189
                            </address>
                            <p>Located 12 minutes south of downtown St. Paul off of Hwy. 52 in Inver Grove Heights.</p>
                        </section>
                        <section class="col-lg-4 col-md-4 col-xs-12 col-sm-4">
                            <h3>times of assembly</h3>
                            <p>
                                <em>Sunday AM</em> <br>
                                Bible Study – 9:30 <br>
                                Worship – 10:30 <br>
                            </p>
                            <p>
                                <em>Sunday PM</em> <br>
                                Worship – 5:00 <br>
                            </p>
                            <p>
                                <em>Wednesday PM</em> <br>
                                Bible Study – 7:00 <br>
                            </p>
                        </section>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            © Copyright 2014 Inver Grove church of Christ. All Rights Reserved.
                        </div>
                    </div>
                </div>
            </div> <!-- ./footer-bottom -->
        </footer>

        <!-- scroll to top -->
        <a class="scrollup" ig-scroll-up>
            <i class="fa fa-angle-up"></i>
        </a>
    </div>

    @Scripts.Render("~/Scripts/scripts/core")
    @Scripts.Render("~/Components/scripts/core")
    @Scripts.Render("~/Components/scripts/plugins")
    <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
    @Scripts.Render("~/Scripts/scripts/area/member")

    @RenderSection("Scripts", required: false)
</body>
</html>